{% extends "base.html" %}

{% block title %} Add Item {% endblock  %}

{% block head %}
{{ super() }}
{% endblock  %}

{% block content %}
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Tarefas</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tasks/all">View All Tasks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>
{# MAIN CONTENT #}
<div class="main container  container-fluid">
    <h1>Add To-Do Item</h1>
    <form method="POST" action="/api/task/add">
        <label for="task_item"></label>
        <br>
        <input name="task_item" id="task_item" type="text" placeholder="Task item here" contenteditable="true" size=30
            required>
        <br>
        <input type="submit" value="Add Item" />
    </form>
</div>
{% endblock  %}