{% extends "base.html" %}

{% block title %} Add Item {% endblock  %}

{% block head %}
{{ super() }}
{% endblock  %}

{% block content %}
<nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Tarefas</a>
    </div>

</nav>
<br>
<h1>Add To-Do Item</h1>
<form method="POST" action="/api/task/add">
    <label for="task_item"></label>
    <br>
    <input name="task_item" id="task_item" type="text" placeholder="Task item here" contenteditable="true" size=30
        required>
    <br>
    <input type="submit" value="Add Item" />
</form>
{% endblock  %}