{% extends "base.html" %}

{% block title %} Delete To-Do Item {% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
    <div class="container-fluid">
        <a class="navbar-brand" href="#">MyBrandHere</a>
    </div>

</nav>

<p>Are you sure you want to delete {{ item["item"] }}?</p>
<form>
    <input hidden name="id" value="{{ item['id'] }}">
    <input type="submit" value="Yes" formmethod="POST" formaction="/api/task/delete/{{ item['id'] }}">
    <input type="submit" value="No" formaction="/tasks/all">
</form>

{% endblock %}