{% extends "base.html" %}

{% block title %} Delete To-Do Item {% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Tarefas</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tasks/all">View All Tasks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/task/add">Add Task</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>

<p>Are you sure you want to delete {{ item["item"] }}?</p>
<form>
    <input hidden name="id" value="{{ item['id'] }}">
    <input type="submit" value="Yes" formmethod="POST" formaction="/api/task/delete/{{ item['id'] }}">
    <input type="submit" value="No" formaction="/tasks/all">
</form>

{% endblock %}