{% extends "base.html" %}

{% block title %} Edit To-Do Item {% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Tarefas</a>
    </div>

</nav>

<form method="POST" action="/api/task/edit/{{ item['id'] }}">
    <label for="item">To-Do Item:</label>
    <input id="item" name="item" value="{{ item['item'] }}" required />
    <input type="submit">
</form>

{% endblock %}