{% extends "base.html" %}

{% block title %} Login {% endblock  %}

{% block head %}
{{ super() }}
{% endblock  %}

{% block content %}
<div class="login-main container text-center">
    <h1>Welcome to Taskly</h1>
    <img src="static/images/login-img.png" alt="login image" class="login-img figure-img img-fluid rounded">
    <form method="POST" action="/login">
        <label for="email">
            <h3>Email:</h3>
        </label><br>
        <input type="email" id="email" name="email" placeholder="Enter your email" size=25 required>
        <br>
        <label for="password">
            <h3>Password:</h3>
        </label><br>
        <input type="password" name="password" minlength="8" maxlength="24" placeholder="Enter your password"
            autocomplete="current-password" size=25 required>
        <br>
        <input type="submit" value="LOGIN" />
    </form>
</div>
{% endblock  %}