{% extends "base.html" %}

{% block title %} Tasks - View All {% endblock  %}

{% block head %}
{{ super() }}
{% endblock  %}

{% block content %}
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Tarefas</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tasks/all">View All Tasks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/task/add">Add Task</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>
<div class="main">
    {# <h3>Tasks:</h3> #}
    <ul>
        {% for item in items %}
        {# TODO: Fix pencil emoji https://github.com/microsoft/vscode/issues/118905#issuecomment-802552899 #}
        <li>{{ item["item"] }}<span class="item-icon"><a href="/task/delete/{{item['id']}}" title="Delete item"> ❌</a> |
                <a href="/task/edit/{{item['id']}}" title="Edit item"> 🖊️ </a></span>
        </li>
        {% if item["is_done"] %}
        {# TODO: ADD LOGIC TO HIDE DONE TASKS #}
        {% endif %}
        {% endfor %}
    </ul>
    <a href='/task/add'> ➕ Add Task Item</a>
    <br>
    <br>
    <a href='/tasks/delete/all'> ➖ Delete All Tasks</a>

</div>
{% endblock  %}